<div class="container-fluid bg">

    <a class="m-0 font-weight-bold text-dark" routerLink="/home" class="text-dark text-left">
        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
    </a>

    <div class="row">

        <div class="col-md-6" id="img-bg"></div>
        <div class="col-md-6 mt-3">
            <br>
            <div class="text mt-5 justify-text">
                <p>
                    A EntrePontes é uma plataforma colaborativa que visa trazer um novo conceito de habitação para o centro do Recife. Aqui você encontra as informações necessárias sobre o território para começar seu empreendimento, negócio e sua habitação. 
                </p>
                <br>
        
            </div>
      
    </div>
</div>
